

:root {
    --main-color: #3C8C3F;
    --accent-color: #D13046;
    --background-color: #FFFFFF;
}


body {
    background-color: var(--background-color);
}

.navbar, footer {
    background-color: var(--main-color);
}

.btn-primary {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    color: white;
}

/* Style voor de header met groene overlay */
.header {
    background-color: var(--main-color);
    position: relative;
    overflow: hidden;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(76, 175, 80, 0.5); /* Groen met transparantie */
    z-index: 1;
}

.header .content {
    position: relative;
    z-index: 2;
}
